{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <p class="logo">
      <a href="{% url 'home' %}">LOGO</a>
    </p>
    <nav>
      <ul>
        <li>
          <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="logout-buttonZ">logout</button>
          </form>
        </li>
      </ul>
    </nav>
    {% block content %}
    {% endblock %}
  </body>
</html>
