{% extends 'base.html' %}

{% block title %}دری بلاگ{% endblock title %}
  

{% block content %}

<h1 class="home-title">خانه</h1>
{% if user.is_authenticated %}
<p class="welcome">سلام <a class="link" href="{% url 'articles:create' %}">{{ user }}</a> عزیز</p>
{% else %}
<p class="welcome">به وبلاگ من خوش اومدی</p>
{% endif %}
<p class="hint">از لیست زیر صفحه دلخواه ات را انتخاب کن :)</p>

<div class="button-div">
  <form action="{% url 'articles:list' %}">
    <button class="btn btn-primary home-btn">لیست مقالات</button>
  </form>
</div>

<div class="button-div">
  <form action="{% url 'articles:create' %}">
  <button class="btn btn-primary home-btn">ایجاد مقاله</button>
</form>
</div>

<div class="button-div">
  <form action="{% url 'news' %}">
  <button class="btn btn-primary home-btn">آخرین اخبار</button>
</form>
</div>
<!-- TODO -->
<div class="button-div">
  <form action="">
  <button class="btn btn-primary home-btn">مدیریت کارها</button>
</form>
</div>

<div class="button-div">
  <form action="{% url 'about' %}">
    <button class="btn btn-primary home-btn">درباره من</button>
  </form>
</div>

{% if user.is_authenticated %}
<div class="button-div">
  <form action="{% url 'accounts:logout' %}" method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary home-btn">خروج از حساب</button>
  </form>
</div>
{% else %}
<div class="button-div">
  <form action="{% url 'accounts:register' %}">
    <button class="btn btn-primary home-btn">ثبت نام</button>
  </form>
</div>
<div class="button-div">
  <form action="{% url 'accounts:login' %}">
    <button class="btn btn-primary home-btn">ورود</button>
  </form>
</div>
{% endif %}
<br>
<br>
{% endblock content %}
