{% extends 'base.html' %}

{% block title %}صفحه اصلی{% endblock title %}
  

{% block content %}

<h1 class="home-title">خانه</h1>
{% if name%}
<p class="welcome">سلام <a href="{% url 'articles:create' %}">{{name}}</a> عزیز</p>
{% else %}
<p class="welcome">به وبلاگ من خوش آمدی</p>
{% endif %}

<div class="button-div">
  <form action="{% url 'articles:list' %}">
    <button class="button">لیست مقالات</button>
  </form>
</div>

<div class="button-div">
  <form action="{% url 'articles:create' %}">
  <button class="button">ایجاد مقاله</button>
</form>
</div>

<div class="button-div">
  <form action="{% url 'news' %}">
  <button class="button">آخرین اخبار</button>
</form>
</div>

<div class="button-div">
  <form action="{% url 'about' %}">
    <button class="button">درباره من</button>
  </form>
</div>

{% if user.is_authenticated %}
<div class="button-div">
  <form action="{% url 'accounts:logout' %}" method="post">
    {% csrf_token %}
    <button type="submit" class="button">خروج از حساب</button>
  </form>
</div>
{% else %}
<div class="button-div">
  <form action="{% url 'accounts:register' %}">
    <button class="button">ثبت نام</button>
  </form>
</div>
<div class="button-div">
  <form action="{% url 'accounts:login' %}">
    <button class="button">ورود</button>
  </form>
</div>
{% endif %}

{% endblock content %}
