{% extends 'base.html' %}

{% block title %}آخرین اخبار{% endblock title %}

{% block content %}

<style>
  body {
    direction: rtl;
  }
</style>
</head>
<body>
  <div class="news-content">
{% for new in news %}
<div class="news">
  <a class="link-title" target="_blank" href="{{ new.link }}">
    <h1 class="news-title">{{ new.title }}</h1>
  </a>
  <a target="_blank" href="{{ new.link }}">
    <img src="{{ new.img }}" alt="" width="45%" />
  </a>
  <p>{{ new.desc }}</p>
  <p class="info"><b>{{ new.date }}</b></p>
</div>
{% endfor %}
</div>

{% endblock content %}
  