{% extends 'base.html' %}

{% block title %}آخرین اخبار{% endblock title %}

{% block content %}
<div class="news-content">
{% for new in news %}
<div>
  <a class="link-title" target="_blank" href="{{ new.link }}">
    <h1 class="news-title">{{ new.title }}</h1>
  </a>
  <a target="_blank" href="{{ new.link }}">
    <img class="news-img" src="{{ new.img }}" alt="" width="45%" />
  </a>
  <p>{{ new.desc }}</p>
  <p class="info"><b>{{ new.date }}</b></p>
</div>
{% endfor %}
</div>

<hr style="color: #464646; margin-top: 50px;" />
<div class="footer-basic">
  <footer>
    <p class="copyright">
      <a href="https://github.com/dori-dev">محمد دری</a> - 2022
    </p>
    <p class="copyright">کپی از مطالب کاملا آزاد است!</p>
    <p class="copyright">تلفن: <a href="tel:09013128010">09013128010</a></p>
    <p class="copyright">ایمیل:
      <a href="mailto:mr.dori.dev@gmail.com">mr.dori.dev@gmail.com</a>
    </p>
    <p class="copyright">گیت هاب:
      <a href="https://github.com/dori-dev">https://github.com/dori-dev</a>
    </p>
  </footer>
</div>
{% endblock content %}
