{% extends 'base.html' %}

{% block title %}ورود{% endblock title %}

{% block content %}
<h1 class="title">ورود</h1>

{% if next or request.GET.next %}
    
<h2 class="warning">برای ایجاد مقاله ابتدا باید وارد حساب کاربری شوید</h2>
{% endif %}
    
<form class="auth-form login" action="{% url 'accounts:login' %}" method="post">
    {{ form }}
    {% csrf_token %}

    {% if request.GET.next %}
    <input type="hidden" name="next" value="{{ request.GET.next }}">
    {% endif %}

    {% if next %}
    <input type="hidden" name="next" value="{{ page }}">
    {% endif %}
        

    <div class="button-div">
        <button class="button" style="margin-top: 40px;">ورود</button>
      </div>

    <br>
    <br>
    <h2>اگر حساب کاربری ندارید ثبت نام کنید</h2>
    <h2>
        <a href="{% url 'accounts:register' %}">
            برای ثبت نام کلیک کنید
        </a>
    </h2>
</form>
{% endblock content %}
