{% extends 'base.html' %}

{% block title %}ورود{% endblock title %}

{% block content %}
<h1 class="page-label">ورود</h1>

{% if next or request.GET.next %}


{% if page == "/todo/" or request.GET.next == "/todo/" %}
<h2 class="warning">برای "مدیریت کارها" ابتدا <b style="color: #0275d8;">وارد</b> شوید یا <a style="text-decoration: none;" href="{% url 'accounts:register' %}"><b style="color: #42ba96;">ثبت نام</b></a> کنید</h2>
{% endif %}


{% if page == "/articles/create/" or request.GET.next == "/articles/create/" %}
<h2 class="warning">برای "ایجاد مقاله" ابتدا باید <b style="color: #0275d8;">وارد</b> شوید یا <a style="text-decoration: none;" href="{% url 'accounts:register' %}"><b style="color: #42ba96;">ثبت نام</b></a> کنید</h2>
{% endif %}



{% endif %}

<form class="auth-form" action="{% url 'accounts:login' %}" method="post">
    {% if form.errors %}
    <div class="error">
        <ul class="errorlist">
            <li>
                <ul class="errorlist">
                    <li>لطفا یک نام کاربری و رمز عبور صحیح وارد کنید. به حروف کوچک و بزرگ توجه کنید.</li>
                </ul>
            </li>
        </ul>
    </div>
    {% else %}
    <div class="error"></div>
    {% endif %}
    
    
    <div class="input-container">
        <label for="">نام کاربری</label>
        {% if form.username.value %}
        <input type="text" class="form-control" value="{{ form.username.value }}" autofocus autocapitalize="none" autocomplete="username" name="username" maxlength="150" required id="id_username" placeholder="نام کاربری خود را وارد کنید">
        {% else %}
        <input type="text" class="form-control" autofocus autocapitalize="none" autocomplete="username" name="username" maxlength="150" required id="id_username" placeholder="نام کاربری خود را وارد کنید">
        {% endif %}
    </div>
            
    <div style="margin-top: 20px;" class="input-container">
        <label for="">رمز عبور</label>
        <input type="password" class="form-control" name="password" autocomplete="current-password" required id="id_password" placeholder="رمز عبور خود را وارد کنید">
    </div>
    {% csrf_token %}
    <button class="btn btn-primary auth-btn neighbor-btn">ورود</button>


    {% csrf_token %}

    {% if request.GET.next %}
    <input type="hidden" name="next" value="{{ request.GET.next }}">
    {% endif %}

    {% if next %}
    <input type="hidden" name="next" value="{{ page }}">
    {% endif %}
    <div style="margin-top: 60px;">
        <h3 style="margin-bottom: 15px;">اگر حساب کاربری <b>ندارید</b> در سایت ثبت نام کنید</h3>
        <a href="{% url 'accounts:register' %}">
            <button type="button" class="btn btn-success large-btn">ثبت نام در سایت</button>
        </a>
    </div>
</form>
{% endblock content %}
