@font-face {
  font-family: "IRAN Sans";
  src: url("IRANSansWeb.woff2") format("woff2");
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  color: black;
  /* text-align: center;
  justify-content: center; */
  font-family: "IRAN Sans", sans-serif;
  font-weight: normal;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover,
a:visited {
  color: #0056b3;
  text-decoration: underline;
}

/* Footer */

.footer-basic {
  padding: 30px 0;
}

.footer-basic .copyright {
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
}

/* Home Page */

.home-title {
  font-size: 75px;
}

.welcome {
  font-size: 30px;
}

.hint {
  padding-bottom: 60px;
  font-size: 30px;
}

.home-btn {
  backface-visibility: hidden;
  /* background-color: #405cf5; */
  border-radius: 10px;
  font-size: 35px;
  height: 55px;
  width: 300px;
  line-height: 1.15;
  outline: none;
  text-transform: none;
  touch-action: manipulation;
}

.button-div {
  /* padding-top: 20px; */
  padding-bottom: 28px;
}

/* Articles List */

.articles {
  padding-bottom: 60px;
  font-size: 20px;
}

.articles h2 {
  margin-top: 40px;
  font-size: 35px;
  margin-bottom: 10px;
}

.summery-body {
  color: #363636;
}

.thumbnail-img {
  border-radius: 10px;
  border: 1px solid #acacac;
  width: 70%;
}

@media only screen and (min-width: 768px) {
  .thumbnail-img {
    border-radius: 10px;
    border: 1px solid #acacac;
    width: 45%;
  }
}

.info {
  padding-top: 5px;
  font-weight: normal;
}

/* Article Detail */

.small-title {
  padding-top: 50px;
  padding-bottom: 30px;
  font-size: 30px;
}

.content {
  justify-content: center;
  text-align: center;
  justify-items: center;
}

.content img {
  border-radius: 10px;
  border: 1px solid #acacac;
  width: 80%;
}

.content-body {
  padding: 40px 1rem;
  padding-top: 40px;
}

@media only screen and (min-width: 768px) {
  .small-title {
    padding-top: 70px;
    padding-bottom: 60px;
    font-size: 50px;
  }
  .content img {
    border-radius: 10px;
    border: 1px solid #acacac;
    width: 60%;
  }
  .content-body {
    padding: 40px 1rem;
    padding-top: 80px;
  }
}

.link-title,
.link-title:hover,
.link-title:visited {
  color: black;
  text-decoration: none;
  background-color: transparent;
}

.date {
  margin-top: 10px;
  margin-bottom: -10px;
  font-size: 18px;
}

/* About Page */

.about {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
}

.copyright-about {
  margin-top: 10px;
  font-size: 20px;
}

/* Register and Login Form */

.page-label {
  font-size: 45px;
  margin-bottom: 30px;
  margin-top: 15px;
}

.auth-form {
  margin-bottom: 100px;
}

.errorlist li {
  font-size: 0px;
}

.error {
  margin-bottom: 30px;
}

.errorlist li ul li {
  color: #e24139;
  margin-top: 5px;
  font-size: 18px;
  display: block;
  list-style-type: none;
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 15px;
}

.input-container label {
  margin-bottom: 4px;
  font-size: 22px;
}

.neighbor-btn {
  margin-left: 10px;
}

.auth-btn {
  margin-top: 20px;
  font-size: 20px;
}

.large-btn {
  font-size: 18px;
}

.helptext,
.helptext ul {
  margin-top: 5px;
  color: #181717;
  font-size: 15px;
  display: block;
  list-style-type: none;
}

.create-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  width: 70%;
  padding-top: 30px;
}

.create-form {
  display: flex;
  flex-wrap: wrap;
}

.warning {
  padding-bottom: 50px;
  color: #d0342c;
}

/* News Page */

.news-content {
  margin: 120px 100px;
}

.news-title {
  margin-bottom: 30px;
}

.news {
  padding: 0 100px 120px 100px;
}

.mrt {
  margin-top: 15px;
}
