@font-face {
  font-family: "IRAN Sans";
  src: url("IRANSansWeb.woff2") format("woff2");
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  color: black;
  text-align: center;
  justify-content: center;
  font-family: "IRAN Sans", sans-serif;
}

.title {
  padding-top: 50px;
  padding-bottom: 30px;
  font-weight: normal;
  font-size: 70px;
}

.base-title {
  font-weight: normal;
  font-size: 75px;
}

.welcome {
  font-size: 30px;
  padding-bottom: 60px;
}

.warning {
  padding-bottom: 50px;
}

.articles {
  padding-bottom: 50px;
  font-size: 20px;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:hover,
a:visited {
  color: #0056b3;
  text-decoration: underline;
}

.logo {
  position: fixed;
  top: 0px;
  left: 20px;
  font-size: 30px;
}

.date {
  position: fixed;
  top: 0px;
  right: 20px;
  font-size: 20px;
}

.not-link {
  color: black;
  text-decoration: none;
  background-color: transparent;
}

.not-link:hover,
.not-link:visited {
  color: black;
  text-decoration: none;
}

.button-div {
  padding-top: 20px;
  padding-bottom: 20px;
}

.button {
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 50px;
  border-width: 0;
  color: #fff;
  cursor: pointer;
  font-size: 35px;
  height: 55px;
  width: 350px;
  line-height: 1.15;
  outline: none;
  text-transform: none;
  touch-action: manipulation;
}

.button:disabled {
  cursor: default;
}

.button:focus {
  box-shadow: #32325d1a 0 0 0 1px inset, #32325d33 0 6px 15px 0,
    #0000001a 0 2px 2px 0, #3297d34d 0 0 0 4px;
}

.footer-basic {
  padding: 30px 0;
}

.footer-basic .copyright {
  text-align: center;
  margin-top: 10px;
  font-size: 15px;
}

.copyright-about {
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
}

.about {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
}
