{% extends 'base.html' %}
{% load i18n %}

{% block title %}لیست مقالات{% endblock %}

{% block content %}
<h1 style="font-size: 50px;" class="page-label">آخرین مقالات</h1>

{% for article in articles %}
<div class="articles">
  <h2>
    <a href="{% url 'articles:detail' slug=article.slug %}">{{ article.get_title | linebreaks }}</a>
  </h2>
  <a target="_blank" href="{% url 'articles:detail' slug=article.slug %}">
    <img class="thumbnail-img" src="{{ article.image.url }}" alt="{{ article.title }}"> 
  </a>
  <p class="summery-body">{{ article.snippet }}</p>
  <div class="info">
    <p><b>{{ article.get_date }} | {{ article.author.username }}</b></p>
  </div>
</div>
{% endfor %}

<br>
<hr style="color: #aaa8a8" />
<div class="footer-basic">
  <footer>
    <p class="copyright">
      <a href="https://github.com/dori-dev">محمد دری</a> - 2022
    </p>
    <p class="copyright">!کپی از مطالب کاملا آزاد است</p>
    <p class="copyright">تلفن: <a href="tel:09013128010">09013128010</a></p>
    <p class="copyright">
      <a href="mailto:mr.dori.dev@gmail.com">mr.dori.dev@gmail.com</a>
      :ایمیل
    </p>
    <p class="copyright">
      <a href="https://github.com/dori-dev">https://github.com/dori-dev</a>
      :گیت هاب
    </p>
  </footer>
</div>
{% endblock %}