{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{article.title}}{%endblock title %}

{% block content %}

<div class="content">
  <p class="date">{{article.get_date}}، توسط {{ article.author.username }}</p>
  <h1 class="small-title">
    <a class="link-title" href="">{{article.title}}</a>
  </h1>
  <div>
    <a target="_blank" href="{{ article.image.url }}">
      <img
        src="{{ article.image.url }}"
        alt="{{ article.title }}"
        width="80%"
      />
    </a>
  </div>
  <div class="content-body">
    <p>{{article.body | linebreaks}}</p>
  </div>
</div>

<hr style="color: #464646" />
<div class="footer-basic">
  <footer>
    <p class="copyright">
      <a href="https://github.com/dori-dev">محمد دری</a> - 2022
    </p>
    <p class="copyright">!کپی از مطالب کاملا آزاد است</p>
    <p class="copyright">تلفن: <a href="tel:09013128010">09013128010</a></p>
    <p class="copyright">
      <a href="mailto:mr.dori.dev@gmail.com">mr.dori.dev@gmail.com</a>
      :ایمیل
    </p>
    <p class="copyright">
      <a href="https://github.com/dori-dev">https://github.com/dori-dev</a>
      :گیت هاب
    </p>
  </footer>
</div>
{% endblock content %}
