{% extends 'base.html' %}

{% block title %}{{article.title}}{% endblock title %}

{% block content %}
<p class="date">{{article.get_date}} | {{ article.author }}</p>
<h1 class="title">
    <a class="not-link" href="">{{article.title}}</a>
</h1>
<div>
    <a target="_blank" href="{{ article.image.url }}">
        <img src="{{ article.image.url }}" alt="{{ article.title }}" width="40%"> 
    </a>
    <br>
    <br>
    <br>
</div>
<div class="content">
    <p>{{article.body | linebreaks}}</p>
</div>
<br>
<br>
<br>
{% endblock content %}