{% extends 'base.html' %}
{% load static %}

{% block title %}ایجاد مقاله{% endblock title %}


{% block content %}
<div class="create-article">
    <h1 class="small-title">مقاله مورد نظرت را ایجاد کن</h1>
    <form class="create-form" action="{% url 'articles:create' %}" method="post" enctype="multipart/form-data">
        {{ form }}
        {% csrf_token %}
        <div class="button-div">
              <button class="button" style="margin-top: 40px;">ایجاد</button>
        </div>
    </form>
</div>
<script src="{% static 'slugify.js' %}"></script>
{% endblock content %}