{% extends 'base.html' %}
{% load static %}

{% block title %}لیست کارهای من{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'todo.css' %}">
<link rel="shortcut icon" href="{% static 'favicon2.ico' %}" type="image/x-icon">
{% endblock style %}

{% block content %}

{% if todo_length == 0 %}
<div style="margin-bottom: 45px;">
    <h1 style="margin-bottom: 10px; margin-top: 25px" >کاری برای انجام دادن نداری!</h1>
    <a style="font-size: 24px; color: black; background-color: white;" class='btn btn-outline-dark add-task btn-sm' href="{% url 'todoapp:create_todo' %}">ایجاد کار جدید <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="" class="bi bi-plus-lg" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
      </svg>
    </a>
</div>
<h3>اینجا میتونی کارهایی که داری رو بنویسی و به صورت لیست داشته باشی.</h3>
<h3>برای کارهات زمان تعیین کنی و بعد از اتمام تیک شون بزنی.</h3>

<h3 style="margin-top: 40px; margin-bottom: 10px;">داشتن لیست کارها <b>سه</b> مزیت مفید داره</h3>
<h4>1. کارهات رو مینویسی و به همین واسطه، ذهن ات <b>آزاد</b> میشه و <b>تمرکز</b> ات هم بالا میره!</h4>
<h4>2. بعد از اتمام کار <b>تیک</b> اش میزنی و ذهن ات <b>لذت</b> میبره که اون کار رو تموم کرده!</h4>
<h4>3.  وقتی <b>لیست</b> کل کارهات رو داری،میدونی میخوای چیکار کنی و <b>زمان</b> ات رو <b>مدیریت</b> میکنی!</h4>
<div class="how-to-use">
  <h3 style="margin-top: 40px;"><b>نحوه استفاده</b></h3>
  <h4 style="line-height: 1.5;margin-top: 10px;">
      برای افزودن کار روی
      <a href="{% url 'todoapp:create_todo' %}">ایجاد کار جدید +</a> کلیک کن سپس <b>عنوان کار</b> و <b>زمان</b> مورد نظرت را
      بنویس و بر روی دکمه <b>اضافه کردن</b> بزن،لیست کارهایت در صفحه <a href="{% url 'todoapp:todo_list' %}">همین صفحه</a> ذخیره میشوند، بعد از اتمام کار میتونی اون رو <b>تیک بزنی</b> یا
      از لیست ات <b>پاک</b> اش کنی، اگر هم موقع اضافه کردن اشتباهی کردی میتونی مشخصات کار رو <b>تغییر</b> بدی.
  </h4>
</div>
<h3 style="text-align: center; margin: 40px 0; margin-bottom: 100px;">امیدوارم با این سایت بتونی تمام کارهات رو به خوبی مدیریت کنی :)</h3>

{% else %}
<div class="list-container">
    <div class="todo-list-container">
        <form action="{% url 'todoapp:todo_list' %}" method="post" id="todo-list-form">
            <div class="todo-list">
                <ul class="list-group">
                    <a class='btn btn-light add-task' href="{% url 'todoapp:create_todo' %}">ایجاد کار جدید <svg style="color: black;" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="black" class="bi bi-plus-lg" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                      </svg>
                    </a>
                    {% for todo in todo_list %}
                    <li class="list-group-item">
                        <div class="todo-item-content">
                            {% if todo.checked %}
                            <input class="check-input form-check-input job-done-input" type="checkbox" name="checked" checked value="{{ todo.id }}" aria-label="...">
                            <div class="job-done-text job-text">
                                <h6>{{ todo.work }}</h6>
                                <p>{{ todo.date }}</p>
                            </div>
                            {% else %}
                            <input class="check-input form-check-input job-undone-input" type="checkbox" name="checked" value="{{ todo.id }}" aria-label="...">
                            <div class="job-undone-text job-text">
                                <h6>{{ todo.work }}</h6>
                                <p>{{ todo.date }}</p>
                            </div>
                            {% endif %}
                        </div>
                        <div class="todo-item-action">
                            <a class="btn btn-danger" href="{% url 'todoapp:delete_todo' todo.id %}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                    <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                                </svg>
                            </a>
                            <a class="btn btn-secondary" href="{% url 'todoapp:edit_todo' todo.id %}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                </svg>
                            </a>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% csrf_token %}
        </form>
    </div>
</div>
{% endif %}

<script>
    let checkInput = document.getElementsByName("checked");
    let form = document.getElementById("todo-list-form");
    checkInput.forEach((element) => {
      element.addEventListener("click", function () {
        form.submit();
      });
    });    
  </script>
{% endblock content %}
