@font-face {
  font-family: "IRAN Sans";
  src: url("IRANSansWeb.woff2") format("woff2");
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  color: black;
  font-family: "IRAN Sans", sans-serif;
  font-weight: normal;
}

/* Todo List */

.list-container {
  display: flex;
  width: 100%;
  justify-content: center;
  min-height: 90vh;
  margin: 40px 0;
}

.todo-list-container {
  width: 100%;
}

.todo-list {
  min-height: 60vh;
}

.list-group-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-item-content {
  display: flex;
}

.todo-item-content input {
  margin-left: 10px;
}

.job-text h6 {
  font-size: 17px;
  margin: 1px 0;
  margin-left: 40px;
}

.job-text p {
  font-size: 11px;
  margin: 1px 0;
  margin-left: 40px;
}

.job-done-text {
  text-decoration: line-through 1px;
  font-weight: normal;
  color: #919191;
}

.job-done-input:checked {
  background-color: #8c8c8c;
  border-color: #8c8c8c;
}

.form-check-input {
  width: 25px;
  height: 25px;
  min-width: 25px;
  min-height: 25px;
}

.todo-item-action {
  display: flex;
}

.todo-item-action a {
  margin-left: 5px;
}

/* Add Todo */

.create-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  width: 70%;
  padding-top: 30px;
}

.create-todo-form {
  display: flex;
  flex-wrap: wrap;
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 15px;
}

.input-container label {
  margin-bottom: 4px;
  font-size: 22px;
}

.add-task {
  font-size: 25px;
  margin-bottom: 10px;
}

.neighbor-btn {
  margin-left: 10px;
}

.helptext,
.helptext ul {
  margin-top: 5px;
  color: #181717;
  font-size: 15px;
  direction: rtl;
  display: block;
  list-style-type: none;
}

.errorlist li {
  font-size: 0px;
}

.error {
  margin-bottom: 30px;
}

.errorlist li ul li {
  color: #e24139;
  margin-top: 5px;
  font-size: 18px;
  display: block;
  list-style-type: none;
}

.auth-btn {
  margin-top: 20px;
  font-size: 20px;
}

.page-label {
  font-size: 45px;
  margin-bottom: 30px;
  margin-top: 15px;
}

.auth-form {
  margin-bottom: 100px;
}

.large-btn {
  font-size: 18px;
}


.custom-nav {
  margin-left: 3px;
}

.warning {
  padding-bottom: 50px;
  color: #d0342c;
}

.about {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
}

.copyright-about {
  margin-top: 10px;
  font-size: 20px;
}

.footer-basic {
  padding: 30px 0;
}

.link,
.how-to-use a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

.link:hover,
.link:visited,
.how-to-use a:hover,
.how-to-use a:visited {
  color: #0056b3;
  text-decoration: underline;
}
